<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item" >
            <a (click)="filter('jewelery')">
                <h6>Jewelery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5>{{item.title}}</h5>
                <p>Price: ${{item.price}}</p>
                <button class="btn btn-success">View Details</button>
            </div>
        </ng-container>
    </div>
</div>
